
        * {
            box-sizing: border-box;
        }

        input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid black;
            border-radius: 4px;
            resize: vertical;
        }

        row label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            text-align: center;
            background-color: blue;
            width: 400px;
            color: white;
            padding: 12px 20px;
            margin-left: 400px;
            border: white;
            border-radius: 4px;
            cursor: pointer;
            float: initial;
        }

        /* 
        input[type=submit]:hover {
            background-color: white;
        } */

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;

        }



        h1 {
            text-align: center;
        }

        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {

            .col-25,
            .col-75,
            input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
        }
   